section {
  min-height: 60vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  a {
    font-size: 1.1rem;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.facebook-button {
  background-color: transparent;
  color: #0866ff;
  border: 1px solid #0866ff;
  padding: 8px 8px;
  font-size: 1.1rem;
  border-radius: 8px;
  cursor: pointer;

  &:hover {
    background-color: #0866ff;
    color: white;
    transition: background-color 0.2s ease;
   }
}