
.contact-section h1 {
  font-size: 2.5rem;
  font-weight: 600;
}

.contact-infos {
  display: flex;
  flex-direction: column;
  gap: 0.75rem;

  a {
    font-size: 1.1rem;
    color: inherit;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}
