section {
  min-height: 60vh;
  padding: 4rem 1.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 2rem;
  text-align: center;
}

.app-separator-home-page {
  display: block;
  transform: translateY(-70px);;
}