.project-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  padding: 2rem;
}


.headline {
  font-family: var(--font-headline);
  font-weight: 400;
  font-style: normal;
  letter-spacing: 0.15em;
  text-align: center;
  margin: 1rem;
  
}
