.prestations-block {
    font-size: 1.2rem;
    line-height: 1.6;
    max-width: 800px;
    text-align: justify;
}

@media (max-width: 799px) {
    .prestations-block > p {
        font-size: smaller;
    }
}

@media (max-width: 574px) {
    .prestations-block > p {
        font-size: x-small;
    }
}

