@import url("https://fonts.googleapis.com/css2?family=Russo+One&display=swap");

svg {
    font-family: "Russo One", sans-serif;
    width: 100%;
    height: 100%;
}

svg text {
    animation: stroke 5s infinite alternate;
    stroke-width: 2;
    stroke: #FF0000;
    font-size: 74px;
}

@keyframes stroke {
    0% {
        fill: rgba(255,0,0,0);
        stroke: rgba(255,0,0,1);
        stroke-dashoffset: 25%;
        stroke-dasharray: 0 50%;
        stroke-width: 2;
    }
    70% {
        fill: rgba(255,0,0,0);
        stroke: rgba(255,0,0,1);
    }
    80% {
        fill: rgba(255,0,0,0);
        stroke: rgba(255,0,0,1);
        stroke-width: 3;
    }
    100% {
        fill: rgba(255,0,0,1);
        stroke: rgba(255,0,0,0);
        stroke-dashoffset: -25%;
        stroke-dasharray: 50% 0;
        stroke-width: 0;
    }
}

.wrapper {
    background-color: transparent;
    position: absolute;
    width: 100%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -100%);
}

.wrapper h1 {
    font-family: "Russo One", sans-serif;
    font-size: 24px;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -150%);
    margin-top: -20px;
    color: #000000;
}